<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<!-- <script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=9aa852ff95ea4100f8a36d073d22ed26&libraries=services"></script> -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&language=ko&libraries=visualization">
// <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.css' rel='stylesheet' />
// <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.js'></script>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<!-- <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-heat/v0.1.3/leaflet-heat.js'></script> -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="http://code.highcharts.com/modules/heatmap.js"></script>
<script src="http://code.highcharts.com/modules/treemap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<!-- <link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/clusterpies.css" />
<link rel="stylesheet" href="../bower_components/leaflet/dist/leaflet.css" />
<link rel="stylesheet" href="css/skt.css"/>
<link rel="stylesheet" href="css/fontcustom/fontcustom.css"/>
<link rel="stylesheet" href="../bower_components/leaflet.markercluster/dist/MarkerCluster.css" /> -->


<!-- <script src='assets/bootswatch.js'></script> -->
<!-- <script src='../bower_components/leaflet/dist/leaflet.js'></script> -->
<!-- <script src="../bower_components/leaflet.markercluster/dist/leaflet.markercluster-src.js"></script> -->
<!-- <script src='../bower_components/d3-plugins/hexbin/hexbin.js'></script> -->
<!-- <script src='../bower_components/leaflet-d3/dist/leaflet-d3.js'></script> -->

<script src="assets/lib_wave_.min.js"></script>
<link rel="stylesheet" href="assets/lib_wave_.css"/>
<link rel="stylesheet" href="css/skt.css"/>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">DD Insight</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Select Group   <span class="caret"></span>   <span id="curgroup" style="color:#ffffff;font-weight:bold"></span></a>
              <ul class="dropdown-menu" role="menu" id="optrcommenus">
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Select Network  <span class="caret"></span>   <span id="curnetwork" style="color:#ffffff;font-weight:bold"></span></a>
              <ul class="dropdown-menu" role="menu" id="networkmenus">
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Select Metric  <span class="caret"></span>   <span id="curkey" style="color:#ffffff;font-weight:bold"></span></a>
              <ul class="dropdown-menu" role="menu" id="keymenus">
              <!-- <li><a href="#" onclick="_mv('pausecnt');">Pause Count</a></li>
              <li><a href="#" onclick="_mv('pausetime');">Pause Time</a></li>
              <li><a href="#" onclick="_mv('stfail');">Start Fail</a></li>
              <li class="divider"></li>
              <li><a href="#" onclick="_mv('tp');">Speed</a></li>
              <li><a href="#" onclick="_mv('rxbytes');">Usage</a></li> -->
            </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Select Area  <span class="caret"></span>   <span id="curArea" style="color:#ffffff;font-weight:bold"></span> </a>
              <ul class="dropdown-menu" role="menu" id="areas"></ul>
            </li>

            <!-- <li><a href="#">About</a></li> -->
          </ul>

          
          <ul class="nav navbar-nav navbar-right">            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Menus <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" onclick="document.location.href='/oreal'">Cell Quality and Traffic Analysis</a></li>
                <li><a href="#" onclick="document.location.href='/caction'">Cell Deployment Comparison</a></li>
                <li class="divider"></li>
                <li><a href="#" onclick="document.location.href='/omonitor'">Cell Quality Comparison</a></li>
                <li><a href="#" onclick="document.location.href='/oaction'">Action-Required Cell Review</a></li>
                <li class="divider"></li>
                <li><a href="#" onclick="document.location.href='/hmonitor'">Monitor for Cell and WiFi</a></li>
                <li><a href="#" onclick="document.location.href='/haction'">Action-Required Spot Review</a></li>
                <li class="divider"></li>
                <li><a href="#" onclick="document.location.href='/wmonitor'">Wi-Fi Monitor   </a></li>
                <li class="divider"></li>
                <li><a href="#" onclick="document.location.href='/logout'"> Logout           </a></li>

              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-right" id="loading" style="display:none;">
            <img src="assets/images/ajax-loader.gif"/>
          </form>

        </div>
      </div>
    </nav>

    <div class="container-full">
        <div class="row">
          <div class="col-md-12">

          <blockquote>
            <p>Cell Quality Comparison</p>
              <small>Note:  The results in this screen are just to demonstrate the DD Insight features with small subset of data from a certain app in a certain period from the past. The numbers don’t reflect actual network status.</small>
            </blockquote>
          </div>
        </div>
        <div class="row" id="dashpanel">

            <!-- <div class="col-lg-4">
              <div class="alert alert-dismissible alert-danger text-center">
                <h4>KT KPI (AVG)</h4>
                <h3><span id="mcelldesc">&nbsp;</h3>              
              </div>            
            </div>

            <div class="col-lg-4">
              <div class="alert alert-dismissible alert-warning text-center">
                <h4>SKT KPI (AVG)</h4>
                <h3><span id="mwfdesc">&nbsp;</h3>
              </div>
            </div>

            <div class="col-lg-2">
              <div class="alert alert-dismissible alert-danger text-center">
                <h4>KT KPI (AVG)</h3>
                <h3><span id="dcelldesc">&nbsp;</h3>                
              </div>            
            </div>

            <div class="col-lg-2">
              <div class="alert alert-dismissible alert-warning text-center">
                <h4>SKT KPI (AVG)</h4>
                <h3><span id="dwfdesc">&nbsp;</h3>                
              </div>            
            </div>
 -->

        </div>

        <div class="row" style="height:600px;">
            <div class="col-lg-8">
                <div class="map_wrap">
                    <div id="map" style="width:100%;height:600px;position:relative;overflow:hidden;"></div> 
                    <!-- <div id="legend1">
                       <div class="hexagonb"></div>&nbsp;celluar  <div class="hexagon"></div>&nbsp;wifi
                    </div> -->
                    
                    <!-- <div id="boxed" class="btn-group">
                      <a href="#" class="btn btn-success" style="font-size:16px;padding-left:5px;">All</a>
                      <a href="#" class="btn btn-success" style="font-size:16px;padding-left:5px;">0~6</a>
                      <a href="#" class="btn btn-success" style="font-size:16px;padding-left:5px;">6~10</a>
                      <a href="#" class="btn btn-success" style="font-size:16px;padding-left:5px;">10~17</a>
                      <a href="#" class="btn btn-success" style="font-size:16px;padding-left:5px;">17~21</a>
                      <a href="#" class="btn btn-success" style="font-size:16px;padding-left:5px;">21~24</a>
                  </div>    -->                
                </div>            
            </div>
            <div class="col-lg-4">
                <div class="map_wrap">
                    <div id="focusmap" style="width:100%;height:600px;position:relative;overflow:hidden;"></div>
                    <!-- <div id="legend2">
                       &nbsp;&nbsp;<i class="fa fa-signal fa-lg" style="color:red;opacity:0.9"></i>&nbsp;celluar
                       <i class="fa fa-wifi fa-lg" style="color:orange;opacity:0.9"></i>&nbsp;wifi
                    </div> -->
                    <!-- <ul id="category">
                        <li id="BK9" data-order="0"> 
                            <span class="category_bg bank"></span>
                            은행
                        </li>       
                        <li id="MT1" data-order="1"> 
                            <span class="category_bg mart"></span>
                            마트
                        </li>  
                        <li id="PM9" data-order="2"> 
                            <span class="category_bg pharmacy"></span>
                            약국
                        </li>  
                        <li id="OL7" data-order="3"> 
                            <span class="category_bg oil"></span>
                            주유소
                        </li>  
                        <li id="CE7" data-order="4"> 
                            <span class="category_bg cafe"></span>
                            카페
                        </li>  
                        <li id="CS2" data-order="5"> 
                            <span class="category_bg store"></span>
                            편의점
                        </li>      
                    </ul> -->
                </div>             
            </div>
        </div>

        <div class="row">
          <div class="col-lg-12" style="padding-top:20px;"><!-- <div class="jumbotron text-center" ><h2>Detail Information of Selected Area</h2></div> -->
            <ul class="breadcrumb text-center">              
              <li class="active" style="color:#ffffff;font-weight:bold;font-size:16px;">Detailed Information of Selected Region</li>
            </ul>
          </div>
        </div>

        
        <div class="row">
          <div class="col-lg-6" >
              <div class="panel panel-default">
                  <div class="panel-heading"  id="tablec1">
                      <!-- <i class="fa fa-signal"></i> Bad Celluar Top 10 -->
                  </div>
                  <div class="panel-body">
                      <table class="table table-striped table-hover">
                          <thead>
                          <tr>
                            <td>ID</td>
                            <td>User count</td>
                            <td id="keyfactor_nm"></td>
                            <td>Address</td>
                          </tr>
                          </thead>
                          <tbody  id="tablec1list"></tbody>
                      </table>
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="panel panel-default">
                  <div class="panel-heading"  id="tablec2">
                      <!-- <i class="fa fa-wifi"></i> Bad Wifi Top 10 -->
                  </div>
                  <div class="panel-body">
                      <table class="table table-striped table-hover">
                          <thead>
                          <tr>
                            <td>ID</td>
                            <td>User count</td>
                            <td id="keyfactor_nm"></td>
                            <td>Address</td>
                          </tr>
                          </thead>
                          <tbody  id="tablec2list"></tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
      <!-- Bubble chart -->
      <div class="row">
          <div class="col-lg-6">
              <div class="panel panel-default">
                <div class="panel-heading" id="bubblec1">
                   <!-- <i class="fa fa-signal"></i>&nbsp; Celluar Trend -->
                </div>
                <div class="panel-body">
                  <div id="bubblec1list" style="min-width: 310px; height: 540px; margin: 0 auto;overflow-y: scroll;"></div>
                </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="panel panel-default">
                <div class="panel-heading" id="bubblec2">
                   <!-- <i class="fa fa-wifi"></i>&nbsp; Wifi Trend -->
                </div>
                <div class="panel-body">
                  <div id="bubblec2list" style="min-width: 310px; height: 540px; margin: 0 auto;overflow-y: scroll;"></div>
                </div>
              </div>
          </div>

      </div>      
      <!-- TOD Bar chart -->
      <div class="row">
          <div class="col-lg-6">
              <div class="panel panel-default">
                <div class="panel-heading" id="trendc1">
                   <!-- <i class="fa fa-signal"></i>&nbsp; Celluar Trend -->
                </div>
                <div class="panel-body">
                  <div id="trendc1list" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="panel panel-default">
                <div class="panel-heading" id="trendc2">
                   <!-- <i class="fa fa-wifi"></i>&nbsp; Wifi Trend -->
                </div>
                <div class="panel-body">
                  <div id="trendc2list" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
              </div>
          </div>

      </div>

      <!-- DOW Radar chart -->
      <div class="row">
          <div class="col-lg-6">
              <div class="panel panel-default">
                <div class="panel-heading" id="radarc1">
                   <!-- <i class="fa fa-signal"></i>&nbsp; Celluar Trend -->
                </div>
                <div class="panel-body">
                  <div id="radarc1list" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="panel panel-default">
                <div class="panel-heading" id="radarc2">
                   <!-- <i class="fa fa-wifi"></i>&nbsp; Wifi Trend -->
                </div>
                <div class="panel-body">
                  <div id="radarc2list" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
              </div>
          </div>

      </div>

      <!-- Brand Model Treemap  -->
      <div class="row" style="padding-top:20px;">
        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading"  id="treemapc1">
                
            </div>
            <div class="panel-body">
              <div id="treemapc1list" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading" id="treemapc2">
                
            </div>
            <div class="panel-body">
              <div id="treemapc2list" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
          </div>
        </div>
      </div>  

      <!-- OS Pie Chart -->
      <div class="row">
          <div class="col-lg-6">
              <div class="panel panel-default">
                <div class="panel-heading" id="piec1">
                   
                </div>
                <div class="panel-body">
                  <div id="piec1list" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="panel panel-default">
                <div class="panel-heading" id="piec2">
                   
                </div>
                <div class="panel-body">
                  <div id="piec2list" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
              </div>
          </div>

      </div>


    </div>  
</body>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script src="js/omonitor.js"></script>
</html>