<div>
    <div class="col-sm-6">
        <div class="input-group">
            <input class="form-control" id="from" type="text" placeholder="From" ng-model="selectedDate.startDate">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="input-group">
            <input class="form-control" id="to" type="text" placeholder="To" ng-model="selectedDate.endDate">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
    </div>
</div>


