<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">Confirm</h4>
</div>
<div class="modal-body">


    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="title"> Do you want to remove it? </label>
            </div>
        </div>
    </div>


</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="delete()">Delete</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
