<!-- #HEADER -->
<header id="header">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
		<div id="logo-group" class="navbar-header">

			<!-- PLACE YOUR LOGO HERE -->
			<span id="logo"> <img src="/static/assets/bootstrap/img/logo.png" id="logo-img" alt="SmartAdmin"> </span>
			<!-- END LOGO PLACEHOLDER -->
		</div>
	</nav>

</header>
<!-- END HEADER -->


<!-- #MAIN PANEL -->
<div id="main" role="main" class="wrapper">
	<nav>
		<!-- #NAVIGATION -->
		<!-- Left panel : Navigation area -->
		<!-- Note: This width of the aside area can be adjusted through LESS variables -->
		<aside id="left-panel">


		<!-- NAVIGATION : This navigation is also responsive

		To make this navigation dynamic please make sure to link the node
		(the reference to the nav > ul) after page load. Or the navigation
		will not initialize.
		-->
			<!--
			NOTE: Notice the gaps after each icon usage <i></i>..
			Please note that these links work a bit different than
			traditional href="" links. See documentation for details.
			-->
			<div class="navbar-default sidebar" role="navigation">
				<div class="sidebar-nav navbar-collapse">
					<ul class="nav in">
						<li class="sidebar-search">
							<div class="input-group custom-search-form">	
								<!-- User info -->
								<ng-include src="'/static/tpls/partials/login-include.html'"></ng-include>
								<!-- end user info -->
							</span>
							</div>
						</li>
						<li class="sidebar-search">
							<div class="input-group custom-search-form">
								<input type="text" class="form-control" placeholder="Search...">
								<span class="input-group-btn">
								<button class="btn btn-default" type="button">
									<i class="fa fa-search"></i>
								</button>
							</span>
							</div>
							<!-- /input-group -->
						</li>
				
						<!--<li class="">-->
							<!--<a href="ajax/dashboard.html" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>-->
						<!--</li>-->
						<dashboard-menu></dashboard-menu>
					</ul>
				</div>
			</div>

		</aside>
		<!-- END NAVIGATION -->
	</nav>
	<div id="page-wrapper" style="min-height: 844px;">
		<!-- #MAIN CONTENT -->
		<div id="content">
			<div class="row">
				<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
					<h1 class="page-title txt-color-blueDark" ng-bind="tableTitle1">
						<i class="fa fa-table fa-fw"></i>

						<span>>
							Custom Report
						</span>
					</h1>
				</div>
				<!--<div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">-->
					<!--<ul id="sparks" class="">-->
						<!--<li class="sparks-info">-->
							<!--<h5> My Income <span class="txt-color-blue">$47,171</span></h5>-->
							<!--<div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">-->
								<!--1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471-->
							<!--</div>-->
						<!--</li>-->
						<!--<li class="sparks-info">-->
							<!--<h5> Site Traffic <span class="txt-color-purple"><i class="fa fa-arrow-circle-up" data-rel="bootstrap-tooltip" title="Increased"></i>&nbsp;45%</span></h5>-->
							<!--<div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">-->
								<!--110,150,300,130,400,240,220,310,220,300, 270, 210-->
							<!--</div>-->
						<!--</li>-->
						<!--<li class="sparks-info">-->
							<!--<h5> Site Orders <span class="txt-color-greenDark"><i class="fa fa-shopping-cart"></i>&nbsp;2447</span></h5>-->
							<!--<div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">-->
								<!--110,150,300,130,400,240,220,310,220,300, 270, 210-->
							<!--</div>-->
						<!--</li>-->
					<!--</ul>-->
				<!--</div>-->
			</div>
			<section id="widget-grid1" class="">
				<div class="well well-sm">
					<div class="input-group">
						<section class="col-sm-6"><date-menu></date-menu></section><button class="btn btn-primary" type="submit" ng-click="drawD3()"><i class="fa fa-refresh"></i> Refresh </button>
					</div>

				</div>

			</section>
			<section id="widget-grid2" custom-widget-canvas>

				<div class="row">
					<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></article>
				</div>
				<div class="row">
					<article class="col-xs-12 col-sm-6 col-md-6 col-lg-6"></article>
					<article class="col-xs-12 col-sm-6 col-md-6 col-lg-6"></article>
				</div>
			</section>

		</div>
		<!-- #PAGE FOOTER -->
		<ng-include src="'/static/tpls/partials/footer.html'"></ng-include>
		<!-- END FOOTER -->
	</div>
    <!-- END #MAIN CONTENT -->
</div>
<!-- END #MAIN PANEL -->




<!-- #SHORTCUT AREA : With large tiles (activated via clicking user name tag)
     Note: These tiles are completely responsive, you can add as many as you like -->
<!-- <ng-include src="'/static/tpls/partials/shorcut-area.html'"></ng-include>  -->
<!-- END SHORTCUT AREA -->

